# This is the sample ENV file
# You can either duplicate this file and rename it to .env or just rename this file

# Please note that if youu're using Vite, you will need to keep the `VITE_` part in front of every variable name

VITE_SERVER_BASE_URL = "http://localhost:3003"
VITE_HATCHFI_CLIENT_ID = CLIENT_ID_FROM_DASHBOARD