# This is the sample ENV file
# You can either duplicate this file and rename it to .env or just rename this file

HATCHFI_CLIENT_ID = CLIENT_ID_FROM_DASHBOARD
HATCHFI_API_KEY = API_KEY_FROM_DASHBOARD
HATCHFI_SECRET_KEY = SECRET_KEY_FROM_DASHBOARD